<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div class="col">
        <form action="/kategori/store" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">nama_kategori</label>
                <input type="text" class="form-control" name="nama_kategori" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">simpan</button>
            </div>
        </form>
    </div>
</body>
</html>